<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
  
    <link rel="stylesheet" href="~/DarkTemplate/Template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/DarkTemplate/Template/assets/vendors/css/vendor.bundle.base.css">
   
    <link rel="stylesheet" href="~/DarkTemplate/Template/assets/css/style.css">
 
    <link rel="shortcut icon" href="~/DarkTemplate/Template/assets/images/favicon.png" />
    <link href="~/css/site.css" rel="stylesheet" />


    @* ALT KISIM DASHBOARD İÇİN EKLENDİ *@
    <link rel="stylesheet" href="~/DarkTemplate/Template/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/DarkTemplate/Template/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/DarkTemplate/Template/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/DarkTemplate/Template/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
</head>




    
    
