@model WriterMessage

@{
    ViewData["Title"] = "Yeni Mesaj Gönder";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

       
<div class="mx-4">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Yeni Mesaj Gönder </h4>

                <form class="forms-sample" action="/Writer/Message/SendMessage" method="post">


                    <div class="form-group">
                        <label>Alıcı e-posta</label>
                        <select class="form-control" asp-for="Receiver" asp-items="@(ViewData["UserEmails"] as SelectList)">
                            <option value="">Select User</option>
                        </select>
                    </div>

                                     
                    <div class="form-group">
                        <label>Konu</label>
                        <input class="form-control" asp-for="Subject" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Mesaj içeriği</label>
                      
                        <textarea class="form-control" rows="8" asp-for="Content"></textarea>

                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>


                    <button class="btn btn-success mt-3" type="submit">Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>



