


<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.ExperienceCount</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">  Deneyim Sayısı </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal mt-3">Deneyim sert bir öğtretmendir, önce sınav yapar, sonra ders verir </h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">
                                @ViewBag.PortfolioCount
                            </h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">Proje Sayısı</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal mt-3"> Projeler, hayalleri gerçeğe dönüştürmenin ilk adımlarıdır </h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.ServiceCount </h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">Hizmet Sayısı</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>

                            @* <span class="mdi mdi-arrow-bottom-left icon-item"></span> *@
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal mt-3">Hizmet, insanlığın en yüce ve anlamlı eylemidir; küçük bir iyilik, büyük bir değişim getirebilir.</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">
                                @ViewBag.SkillCount
                            </h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">Yetenek Sayısı</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal mt-3">Yetenek, doğuştan gelen bir hazine değil, sürekli çaba ve çalışmanın ürünüdür.</h6>
            </div>
        </div>
    </div>
</div>