@model Feature
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/Shared/_DarkAdminLayout.cshtml";
}


<div class="mx-4 " style="min-height:50vh">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">  Giriş Bilgisi Güncelle </h4>

                <form class="forms-sample" action="/Feature/UpdateFeature" method="post">

                    <input type="hidden" name="FeatureId" value="@Model.FeatureId" />


                    <div class="form-group">
                        <label>Başlık</label>
                        <input class="form-control" asp-for="Header" />
                        <span asp-validation-for="Header" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label> Ad Soyad </label>
                        <input class="form-control" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label> Pozisyon (Görev) </label>
                        <input class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <button class="btn btn-success mt-3" type="submit">GÜNCELLE</button>
                </form>
            </div>
        </div>
    </div>
</div>

