@model Contact

@{
    ViewData["Title"] = "UpdateContactInfo";
    Layout = "~/Views/Shared/_DarkAdminLayout.cshtml";
}


<div class="mx-4 " style="min-height:50vh">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">  İletişim Bilgisi Güncelle </h4>

                <form class="forms-sample" action="/ContactInfo/UpdateContactInfo" method="post">

                    <input type="hidden" name="ContactId" value="@Model.ContactId" />

                    <div class="form-group">
                        <label>Başlık</label>
                        <input class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label> Açıklama </label>
                        <input class="form-control" asp-for="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>

                   
                    <div class="form-group">
                        <label> Mail </label>
                        <input class="form-control" asp-for="Mail" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label> Telefon </label>
                        <input class="form-control" asp-for="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                   
                    <button class="btn btn-success mt-3" type="submit">GÜNCELLE</button>
                </form>
            </div>
        </div>
    </div>
</div>
