@model List<Announcement>

@{
    string bgColor = "";
}

  @foreach (var item in Model)
{

    string val1 = AnnouncementStatus.Bitti.ToString().ToLower();
    string val2 = AnnouncementStatus.DevamEdiyor.ToString().ToLower();

    if (item.Status.ToLower().Replace(" ", "") == val1)
        bgColor = "bg-success";
    if (item.Status.ToLower().Replace(" ", "") == val2)
        bgColor = "bg-info";



    <a class="dropdown-item preview-item" href="/Writer/Announcement/AnnouncementDetail/@item.ID">
        <div class="preview-thumbnail">
            <div class="preview-icon @bgColor">
                <i class="ti-info-alt mx-0"></i>
            </div>
        </div>
        <div class="preview-item-content">
            <h6 class="preview-subject font-weight-normal">@item.Title</h6>
            <p class="font-weight-light small-text mb-0 text-muted">
                @item.Status  # @item.Date.ToString("dd MMM yyyy - hh:mm")
            </p>
        </div>
    </a>
}

